{
    "authorized_ports": [22, 80, 443],
    "scan_interval_seconds": 10,
    "telegram": {
        "enabled": true,
        "token": "8334130210:AAHzxQLbDe1pi5yxiFPgADHKqnG7AKzBaD8",
        "chat_id": "681291314"
    },
    "logging" : {
        "log_directory": "storage/logs",
        "max_bytes": 5242880,
        "backup_count": 5
    }
}